{# <form method="post" class="mt-5">
                <fieldset>
                        <legend>Connectez vous</legend>

                        {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                                <div class="mb-3">
                                        Bonjour {{ app.user.email }} <a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                        {% else %}
                                <div class="row">
                                        <div class="col-12 mt-3">
                                                <input type="text" value="" name="email" id="inputemail" class="form-control" required autofocus placeholder="pseudo">
                                        </div>
                                        <div class="col-12 mt-3 mb-3">
                                                <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="mot de passe">
                                        </div>
                                </div>
                                <button class="btn btn-success" type="submit">
                                        Connexion
                                </button>
                        {% endif %}

                        <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                        >

                        {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                                <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                        </div>
                        {# #}
{# </fieldset> #}
{# </form> #}






<html>

<head>
        <meta charset="UTF-8">

        {% block stylesheets %}

        <link href="/admin_files/css/font-face.css" rel="stylesheet" media="all">
        <link href="/admin_files/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="/admin_files/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="/admin_files/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

        <link href="/admin_files/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

        <link href="/admin_files/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="/admin_files/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet"
                media="all">
        <link href="/admin_files/vendor/wow/animate.css" rel="stylesheet" media="all">
        <link href="/admin_files/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="/admin_files/vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="/admin_files/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="/admin_files/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">


        <link href="/admin_files/css/theme.css" rel="stylesheet" media="all">
        {% endblock %}
</head>
<div class="animsition">
        <div class="page-wrapper">
                <div class="page-content--bge5">
                        <div class="container">
                                <div class="login-wrap">
                                        <div class="login-content">
                                                <div class="login-logo">
                                                        {% for message in app.flashes('error') %}
                                                        <div class="alert alert-error">
                                                                {{ message }}
                                                        </div>
                                                        {% endfor %}
                                                </div>
                                                <div class="login-form">
                                                        <form action="" method="post">
                                                                <input type="hidden" name="_csrf_token"
                                                                        value="{{ csrf_token('authenticate') }}">

                                                                <div class="form-group">
                                                                        <label>Email Address</label>
                                                                        <input class="au-input au-input--full"
                                                                                type="email" name="email"
                                                                                placeholder="Email">
                                                                </div>
                                                                <div class="form-group">
                                                                        <label>Password</label>
                                                                        <input class="au-input au-input--full"
                                                                                type="password" name="password"
                                                                                placeholder="Password">
                                                                </div>
                                                                <div class="login-checkbox">
                                                                        <label>
                                                                                <input type="checkbox"
                                                                                        name="remember">Remember Me
                                                                        </label>

                                                                </div>
                                                                <button class="au-btn au-btn--block au-btn--green m-b-20"
                                                                        type="submit">sign in</button>
                                                                <div class="social-login-content">

                                                                </div>
                                                        </form>

                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>

        </div>

</div>

</body>

{% block javascripts %}

<script src="/admin_files/vendor/jquery-3.2.1.min.js"></script>

<script src="/admin_files/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/admin_files/vendor/bootstrap-4.1/bootstrap.min.js"></script>

<script src="/admin_files/vendor/slick/slick.min.js">
</script>
<script src="/admin_files/vendor/wow/wow.min.js"></script>
<script src="/admin_files/vendor/animsition/animsition.min.js"></script>
<script src="/admin_files/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/admin_files/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/admin_files/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/admin_files/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/admin_files/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/admin_files/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/admin_files/vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="/admin_files/js/main.js"></script>
<script src="/js/script.js"></script>
{% endblock %}


</html>