

 {{ form_start(form) }}
                        {{ form_label(form.title, 'Title', { 'attr': {'class': 'form-control'} }) }}
                        {{ form_widget(form.title, { 'attr': {'class': 'form-control'} }) }}
                        {{ form_label(form.logo, 'Logo', { 'attr': {'class': 'form-control'} }) }}
                        {{ form_widget(form.logo, { 'attr': {'class': 'form-control'} }) }}
                          {{ form_label(form.mobile, 'Mobile', { 'attr': {'class': 'form-control'} }) }}
                        {{ form_widget(form.mobile, { 'attr': {'class': 'form-control'} }) }}
                        <br>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}